* {
  margin: 0;
  padding: 0;
  color: white;
}


body {
  height: 300vh;
  margin-top: 5px;
  background-color: darkblue;
}

article {
  padding: 5rem;
  animation: fader linear;
  animation-timeline: view();
  /* animation-range-start: 100px;
  animation-range-end: 200vh; */

  /* animation-range-start: entry; */
}

/* 
.scroll-watcher {
  height: 10px;
  position: fixed;
  background-color: yellow;
  z-index: 999;
  top: 0;
  width: 100%;
  animation: timelineScroll 3s linear;
  animation-timeline: scroll(block);
  margin: auto;
  border: white solid 2px;
} */


/* @keyframes timelineScroll {

  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
} */


@keyframes fader {

  from {
    opacity: 0.1;
  }

  to {
    opacity: 1;
  }
}

.container {

  display: flex;
  flex-wrap: nowrap;
  width: max-content;
  gap: 1rem;
}

span {
  margin: 2rem;

}


.scroller {
  overflow: hidden;
  overflow-x: scroll;
  -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller_ininer {
  padding: 1rem;
  width: max-content;
  flex-wrap: nowrap;
  /* animation: bg-shift linear; */

  animation: scrolling ease-in-out 4s forwards infinite;

}

/* @keyframes bg-shift {
  from {
    background-color: red;
  }

  to {
    background-color: rgb(66, 231, 6);
  }
} */


@keyframes scrolling {

  0% {
    transform: translate(20px);
  }

  50% {
    transform: translate(60px);
  }


  100% {
    transform: translate(20px);
  }
}