html, body {
  margin: 0;
  padding: 0;
  background: rgb(11, 0, 0);

  display: grid;
  place-items: center;
  height: 100vh;
}

:root {
  --white: #FFFFFF;
  --red: #FC3E32;
  --green: #007E39;
  --flag-height: 270px;
  --flag-width: calc(var(--flag-height) * 3 / 2);
}


.flag-madagascar {

  height: var(--flag-height);
  border: 1px solid white;
  width: var(--flag-width);
  display: flex;
  flex-direction: row;
}



.subFlag {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
}

.white {
  background-color: var(--white);
  flex: 1;
}

.subFlag {
  flex: 2;
}


.red {
  background-color: var(--red);
  flex: 1;
}

.green {
  background-color: var(--green);
  flex: 1;
}