html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --stage-1: 25%;
  --stage-2: 50%;
  --stage-3: 75%;
  --stage-4: 100%;
  --progbar-bg: lightgray;
  --stage-1-bg: red;
  --stage-2-bg: orangered;
  --stage-3-bg: greenyellow;
  --stage-4-bg: green;
}


.container {
  display: grid;
  place-items: center;
  height: 100vh;
}

.progress-bar {
  height: 40px;
  width: 200px;
  border: 1px solid black;
  border-radius: 45px;
  position: relative;
}

.prog-status {
  height: 100%;
  border-radius: 45px;
  border: none;
  outline: none;

}

.stage-4 {
  width: 100%;
  background-color: var(--stage-4-bg);
}

.stage-3 {
  width: 75%;
  background-color: var(--stage-3-bg);
}

.stage-2 {
  width: 50%;
  background-color: var(--stage-2-bg);
}

.stage-1 {
  width: 25%;
  background-color: var(--stage-1-bg);
}