html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --stage-1: 25%;
  --stage-2: 50%;
  --stage-3: 75%;
  --stage-4: 100%;
  --progbar-bg: lightgray;
  --stage-1-bg: rgb(64, 0, 255);
  --stage-2-bg: rgb(155, 7, 123);
  --stage-3-bg: greenyellow;
  --stage-4-bg: green;
}


.container {
  display: grid;
  place-items: center;
  height: 100vh;
}

.progress-bar {
  height: 40px;
  width: 350px;
  border: 1px solid black;
  border-radius: 45px;

}

.prog-status {
  height: 100%;
  width: 10%;
  background-color: red;
  border-radius: 45px;
  animation: progress linear forwards 4s infinite;
}

@keyframes progress {



  25% {
    width: 25%;
    background-color: var(--stage-1-bg);
  }

  50% {
    width: 50%;
    background-color: var(--stage-2-bg);
  }

  75% {
    width: 100%;
    background-color: var(--stage-3-bg);
  }

  100% {
    width: 100%;
    background-color: var(--stage-4-bg);
  }

}