.container {

  border: 1px solid green;
  height: 100vh;
  display: grid;
  place-items: center;
}


.square {
  height: 50px;
  width: 50px;
  border: 1px solid green;
  animation: rotate infinite 4s;
}

.squareHolder {
  display: flex;
  gap: 1.75rem;
}

.squareHolder :nth-child(1) {
  background-color: blue;
}

.squareHolder :nth-child(2) {
  background-color: rgb(49, 149, 51);
}

.squareHolder :nth-child(3) {
  background-color: rgb(91, 132, 132);
}


@keyframes rotate {
  from {
    transform: rotate(-45deg);
  }

  to {
    transform: rotate(45deg);
  }
}